<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <head>
    <title>Sites</title>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="container-fluid light">
        <div class="container-sphynx mx-auto py-5 text-center">
          <h1 class="display-2 font-weight-bold m-5 px-5">
            Sites
          </h1>
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col"> Name </th>
                <th scope="col"> Description </th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="site : ${sites}">
                <td><span th:text="${site.getUrl()}">name</span></td>
                <td><span th:text="${site.getDescription()}">description</span></td>
                <td><a th:href=${T(com.nathaliebize.sphynx.controller.SiteMap).SITES_CREATE_CONFIRMATION.getPath()} class="btn">Code snippet</a>
                <td># of session</td>
                <td><a th:href="'/sites/' + ${site.getId()} +'/delete'" class="btn">Remove</a>
                <td><a th:href="'/sites/' + ${site.getId()}" class="btn button-dark">Data</a>
              </tr>
            </tbody>
          </table>
          <h1><a th:href=${T(com.nathaliebize.sphynx.controller.SiteMap).SITES_CREATE.getPath()} class="btn button-blue my-5">Add a new site</a></h1>
        </div>
      </div>
    </section>
  </body>
</html>
