<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title>Reset your password</title>
</head>
<body>
  <section layout:fragment="content">
    <div class="light">
      <div class="container p-5">
        <div class="detail light p-5">
          <h1 class="display-2 font-weight-bold mt-5 mx-5 px-5">Reset your password</h1>
          <form class="mt-5 mx-5 px-5" th:action=${T(com.nathaliebize.sphynx.controller.SiteMap).USER_FORGOT_PASSWORD.getPath()} method="post" th:object="${resetPasswordEmailUser}">
            <div class="my-4 form-group">
              <input type="text" class="form-control" id="inputEmail" th:field="*{email}" aria-describedby="emailHelp" placeholder="Email address">
              <span th:if="${#fields.hasErrors('email')}" class="help-block" th:errors="*{email}"></span>
            </div>
            <button type="submit" class="my-4 btn btn-block button-blue" id="submitButton">Send reset link</button>
            
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>