<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title>Reset your password</title>
</head>
<body>
  <section layout:fragment="content">
    <div class="container-fluid light">
      <div class="container-sphynx mx-auto py-5">
        <div class="container-fix-sphynx p-5">
          <h1 class="display-2 font-weight-bold m-5 px-5">Reset your password</h1>
          <form class="form-group mx-5 px-5" th:action=${T(com.nathaliebize.sphynx.controller.SiteMap).USER_FORGOT_PASSWORD.getPath()} method="post" th:object="${resetPasswordEmailUser}">
            <input type="text" class="my-3 form-control" id="inputEmail" th:field="*{email}" aria-describedby="emailHelp" placeholder="Email address">
            <span th:if="${#fields.hasErrors('email')}" class="help-block" th:errors="*{email}"></span>
            <button type="submit" class="btn btn-block button-blue my-3" id="submitButton">Send reset link</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>