<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title>Sign into your account</title>
</head>
<body>
  <section layout:fragment="content">
    <div class="container-fluid light">
      <div class="mt-5 py-5 row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <h1 class="display-2 font-weight-bold text-center">Login</h1>
          <form class="form-group p-5" th:action=${T(com.nathaliebize.sphynx.routing.SiteMap).USER_LOGIN.getPath()} method="post">
            <div class="text-center" th:if="${param.error}" >Email or password incorrect.</div>
            <input type="text" name="email" class="my-3 form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Email address">
            <input type="password" name="password" class="my-3 form-control" id="inputPassword" placeholder="Password">
            <div class="pb-4 right-aligned">
              <a th:href=${T(com.nathaliebize.sphynx.routing.SiteMap).USER_FORGOT_PASSWORD.getPath()}>Forgot password?</a>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="my-4 btn btn-block button-blue">Login</button>
            </div>
            <div class="my-4 text-center">
              Don't have an account? <a th:href=${T(com.nathaliebize.sphynx.routing.SiteMap).USER_REGISTER.getPath()}>Register here</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>