<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title>Update confirmation</title>
</head>
<body>
  <section layout:fragment="content">
    <div class="container-fluid light">
      <div class="mt-5 py-5 row justify-content-center">
        <div class="col-md-8">
          <h1 class="display-2 font-weight-bold text-center p-5">Account created.</h1>
          <h5 class="text-center p-5">You have been register. Please log in.</h5>
          <a th:href=${T(com.nathaliebize.sphynx.routing.SiteMap).USER_LOGIN.getPath()} class="btn btn-lg button-dark px-3 my-2 mx-3">Login</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>