<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"
  href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
  integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
  crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/sphynx.css">
  <title>Reset your password</title>
</head>
<body>
  <div class="container-fluid light">
    <div class="container px-5">
      <div class="d-flex px-5">
        <a href="/" class="m-3 mr-auto">Home</a> 
        <a href="https://github.com/nathaliebize/sphynx" class="m-3">Github repo</a>
        <a href="/user/login" class="m-3">Login</a>
        <a href="/user/register" class="m-3">Register</a>
      </div>
    </div>
  </div>
  <div class="light">
    <div class="container p-5">
      <div class="detail light p-5">
        <h1 class="display-2 font-weight-bold mt-5 mx-5 px-5">Reset your password</h1>
        <form class="mt-5 mx-5 px-5" action="/user/resetPasswordEmail" method="post" th:object="${resetPasswordEmailUser}">
          <div class="my-4 form-group">
            <input type="text" class="form-control" id="inputEmail" th:field="*{email}" aria-describedby="emailHelp" placeholder="Email address">
            <span th:if="${#fields.hasErrors('email')}" class="help-block" th:errors="*{email}"></span>
          </div>
          <button type="submit" class="my-4 btn btn-block button-blue" id="submitButton">Send reset link</button>
          
        </form>
      </div>
    </div>
  </div>

</body>
</html>