<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title>Reset your password</title>
</head>
<body>
  <section layout:fragment="content">
    <div class="container-fluid light">
      <div class="mt-5 py-5 row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <h1 class="display-2 font-weight-bold text-center">Reset your password</h1>
          <form class="form-group p-5" th:action=${T(com.nathaliebize.sphynx.routing.SiteMap).USER_RESET_PASSWORD.getPath()} method="post" th:object="${resetPasswordUser}">
            <input type="password" class="form-control my-3" id="inputPassword1" th:field="*{password}" placeholder="Password (min. 6 characters)">
            <span th:if="${#fields.hasErrors('password')}" class="help-block my-3" th:errors="*{password}"></span>
            <input type="password" class="form-control my-3" id="inputPassword2" th:field="*{confirmedPassword}" placeholder="Confirm password">
            <span th:if="${#fields.hasErrors('confirmedPassword')}" class="help-block my-3" th:errors="*{confirmedPassword}"></span>
            <input type="hidden" th:field="*{registrationKey}">
            <button type="submit" class="my-3 btn btn-block button-blue" id="submitButton">Save</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>