<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title>Reset your password</title>
</head>
<body>
  <section layout:fragment="content">
    <div class="container-fluid light">
      <div class="mt-5 py-5 row justify-content-center">
        <div class="col-md-8">
          <h1 class="display-2 font-weight-bold text-center">Reset your password</h1>
          <form class="form-group m-5 px-5 justify-content-center" th:action=${T(com.nathaliebize.sphynx.routing.SiteMap).USER_RESET_PASSWORD_REQUEST.getPath()} method="post" th:object="${forgotPasswordUser}">
            <input type="text" class="my-3 form-control" id="inputEmail" th:field="*{email}" aria-describedby="emailHelp" placeholder="Email address">
            <span th:if="${#fields.hasErrors('email')}" class="help-block" th:errors="*{email}"></span>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn button-blue my-4 text-center" id="submitButton">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>