<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"
  href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
  integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
  crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/sphynx.css">
  <title>Reset your password</title>
</head>
<body>
  <header th:insert="fragments.html :: header"> </header>
  <div class="light">
    <div class="container p-5">
      <div class="detail light p-5">
        <h1 class="display-2 font-weight-bold mt-5 mx-5 px-5">Reset your password</h1>
        <form class="mt-5 mx-5 px-5" action="/user/resetPassword" method="post" th:object="${resetPasswordUser}">
          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword1" th:field="*{password}" placeholder="Password (min. 6 characters)">
            <span th:if="${#fields.hasErrors('password')}" class="help-block" th:errors="*{password}"></span>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword2" th:field="*{confirmedPassword}" placeholder="Confirm password">
            <span th:if="${#fields.hasErrors('confirmedPassword')}" class="help-block" th:errors="*{confirmedPassword}"></span>
          </div>
          <div class="form-group">
            <input type="hidden" th:field="*{registrationKey}">
          </div>
          <button type="submit" class="my-4 btn btn-block button-blue" id="submitButton">Save</button>
          
        </form>
      </div>
    </div>
  </div>
  <footer th:insert="fragments.html :: footer"> </footer>

</body>
</html>