a {
  color: #ccc;
}

a:hover {
	text-decoration: none;
}

body {
  color: #ffffff;
  background-color: #2c2d2d
}

.button-blue {
	background-color: #79b6f9;
  border: solid #79b6f9;
  color: #ffffff;
  width: 150px; 
}

.button-dark {
	border: solid #ccc;
  color: #ffffff;  
  width: 150px; 
}

.centered {
  text-align: center;
}

.custom-file-control, .form-control {
	color: #ffffff;
}

.custom-file-control:focus, .form-control:focus {
  color: #ffffff;
}

.dark {
  background-color: #1d1d1d;
}

.detail {
  font-size: 12px;
  max-width: 600px;
}

.font-weight-light {
  opacity: 0.4;
}

.form-check-input {
  margin-top: .2rem;
}

.form-check-label {
  vertical-align: text-top;
}

.form-control {
	border-bottom: 1px solid white;	
}

.form-control::-webkit-input-placeholder {
color: #b9b9b9;
}

.form-control:-moz-placeholder { /* Firefox 18- */
color: #b9b9b9;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
color: #b9b9b9;  
}

.form-control:-ms-input-placeholder {  
color: #b9b9b9;  
}

.hide {
	visibility: hidden;
}

.light {
  background-color: #2c2d2d;
}

.right-aligned {
  text-align: right;
}

.text-accent {
  color:#79b6f9;
}

.timeline {
	position: relative;
}

.timeline-node:nth-child(even) {
  flex-direction: row-reverse;
}
.timeline-node:nth-child(odd) h3,
.timeline-node:nth-child(odd) p {
  text-align: right;
}
.timeline-node:nth-child(odd) .timeline-date h3 {
  text-align: left;
}
 
.timeline-node:nth-child(even) .timeline-date h3 {
  text-align: right;
}
