<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title>Error</title>
</head>
<body>
  <section layout:fragment="content">
    <div class="container-fluid light">
      <div class="container-sphynx mx-auto py-5">
        <div class="container-fix-sphynx p-5">
          <h1 class="display-2 font-weight-bold mt-5 mx-5 px-5">Error</h1>
          <h6 class="mt-5 mx-5 px-5">An error has occured.</h6>
          <h6 class="mt-5 mx-5 px-5" th:text="'Status code: ' + ${status}"></h6>
        </div>
      </div>
    </div>
  </section>
</body>
</html>