<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"
  href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
  integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
  crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/sphynx.css">
  <title>Error</title>
</head>
<body>
  <div class="container-fluid light">
    <div class="container px-5">
      <div class="d-flex px-5">
        <a href="/" class="m-3 mr-auto">Home</a> 
        <a href="https://github.com/nathaliebize/sphynx" class="m-3">Github repo</a>
        <a href="/user/login" class="m-3">Log In</a>
        <a href="/user/register" class="m-3">Register</a>
      </div>
    </div>
  </div>
  <div class="light">
    <div class="container p-5">
      <div class="detail light p-5">
      
        <h1 class="display-2 font-weight-bold mt-5 mx-5 px-5">Error</h1>
        <h6 class="mt-5 mx-5 px-5">An error has occured.</h6>
      </div>
    </div>
  </div>

</body>
</html>