<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <title>Thymeleaf fragments: home</title>
  </head>
  <body>
    <div th:fragment="header">
      <div class="container-fluid light">
        <div class="container px-5">
          <div class="d-flex px-5">
            <a href="/" class="m-3 mr-auto">Home</a> 
            <a href="https://github.com/nathaliebize/sphynx" class="m-3">Github repo</a>
            <a href="/user/login" class="m-3">Log In</a>
            <a href="/user/register" class="m-3">Register</a>
            <a href="/user/logout" class="m-3">Log out</a>
          </div>
        </div>
      </div>
    </div>
    <div th:fragment="footer">
      <div class="container-fluid light">
        <div class="container p-5">
          <h1 class="px-5">Info</h1>
        </div>
      </div>
    </div>
  </body>
</html>