<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <head>
    <title>Home</title>
  </head>
  <body>
    <section layout:fragment="content">
      <div class="container-fluid light">
        <div class="container-sphynx mx-auto py-5">
          <h1 class="display-2 text-center font-weight-bold p-5 mx-5">
              With Sphynx, understand how your users interact with your website.
          </h1>
          <h4 class="text-center font-weight-light p-3 mx-5">
              Be aware of the users' behavior
              when they navigate your websites.
         </h4>
         <div class="d-flex justify-content-center">
            <form>
              <button th:formaction=${T(com.nathaliebize.sphynx.controller.SiteMap).USER_REGISTER.getPath()} type="submit" class="btn btn-lg button-blue px-3 my-2 mx-3">Register</button>
              <button th:formaction=${T(com.nathaliebize.sphynx.controller.SiteMap).USER_LOGIN.getPath()} type="submit" class="btn btn-lg button-dark px-3 my-2 mx-3">Login</button>
            </form>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <img alt="ipad image" class="img-fluid" src="https://via.placeholder.com/910x500">
        </div>
      </div>
      <div class="container-fluid dark">
        <div class="container-sphynx mx-auto py-5 row">
          <div class="col-sm">
            <div class="m-3">
              <img alt="video" class="img-fluid"
                src="https://via.placeholder.com/200x200">
            </div>
            <h5 class="font-weight-bold m-3 py-4">Video support</h5>
            <div class="font-weight-light m-3">Seamlessly empower fully
              researched growth strategies and interoperable internal.</div>
          </div>
          <div class="col-sm">
            <div class="m-3">
              <img alt="map" class="img-fluid"
                src="https://via.placeholder.com/200x200">
            </div>
            <h5 class="font-weight-bold m-3 py-4">Map location</h5>
            <div class="font-weight-light m-3">Seamlessly empower fully
              researched growth strategies and interoperable internal.</div>
          </div>
          <div class="col-sm">
            <div class="m-3">
              <img alt="demo" class="img-fluid"
                src="https://via.placeholder.com/200x200">
            </div>
            <h5 class="font-weight-bold m-3 py-4">Multiple demo</h5>
            <div class="font-weight-light m-3">Seamlessly empower fully
              researched growth strategies and interoperable internal.</div>
          </div>
          <div class="col-sm">
            <div class="m-3">
              <img alt="tools" class="img-fluid"
                src="https://via.placeholder.com/200x200">
            </div>
            <h5 class="font-weight-bold m-3 py-4">Premium tools</h5>
            <div class="font-weight-light m-3">Seamlessly empower fully
              researched growth strategies and interoperable internal.</div>
          </div>
        </div>
      </div>
      <div class="container-fluid light">
        <div class="container-sphynx mx-auto py-5 row">
          <div class="col">
            <h4 class="text-accent font-weight-bold p-3">GET FREE SUPPORT</h4>
            <h1 class="font-weight-bold p-3">Get The Most Amazing Builder!</h1>
            <h6 class="font-weight-light p-3">Umami VHS asymmetrical
              gastropub. Health goth lomo bicycle rights vexillologist shabby
              chic. Vinyl chia bushwick vaporware, waistcoat taiyaki umami
              locavore +1 edison bulb bitters vape. Prism tote bag narwhal
              adaptogen. Selfies vaporware chambray pork belly kickstarter
              letterpress 90's tattooed. Swag tote bag hammock, XOXO air plant
              brunch knausgaard glossier celiac biodiesel la croix fanny pack
              organic single-origin coffee. Bushwick adaptogen ennui lo-fi blog
              chicharrones.</h6>
            <button type="button" class="btn button-blue p-3 m-3">Button 1</button>
          </div>
          <div class="col">
            <img alt="Detail left" class="img-fluid" src="https://via.placeholder.com/400x600">
          </div>
        </div>
        <div class="container-sphynx mx-auto py-5 row">
          <div class="col">
            <img alt="detail right" class="img-fluid" src="https://via.placeholder.com/400x600">
          </div>
          <div class="col">
            <h4 class="text-accent font-weight-bold p-3">GET FREE SUPPORT</h4>
            <h1 class="font-weight-bold p-3">Get The Most Amazing Builder!</h1>
            <h6 class="font-weight-light p-3">Umami VHS asymmetrical
              gastropub. Health goth lomo bicycle rights vexillologist shabby
              chic. Vinyl chia bushwick vaporware, waistcoat taiyaki umami
              locavore +1 edison bulb bitters vape. Prism tote bag narwhal
              adaptogen. Selfies vaporware chambray pork belly kickstarter
              letterpress 90's tattooed. Swag tote bag hammock, XOXO air plant
              brunch knausgaard glossier celiac biodiesel la croix fanny pack
              organic single-origin coffee. Bushwick adaptogen ennui lo-fi blog
              chicharrones.</h6>
            <button type="button" class="btn button-blue p-3 m-3">Button 1</button>
          </div>
        </div>
        <div class="container-sphynx mx-auto py-5">
          <h1 class="text-center p-3">What Client Said</h1>
          <h6 class="p-3">Leggings pitchfork tattooed actually iPhone,
            messenger bag twee celiac church-key. Next level trust fund jean
            shorts, normcore hoodie sartorial ugh cold-pressed woke offal
            ethical mumblecore tilde tote bag.
          </h6>
        </div>
        <div class="container-sphynx mx-auto py-5 row">
          <div class="col-sm">
            <img alt="logo" class="img-fluid m-3" src="https://via.placeholder.com/80x80">
            <h6 class="font-weight-light m-3">Coffee gochujang normcore
              stumptown waistcoat. Selfies sustainable mumblecore blog marfa
              pork belly kitsch meditation iceland humblebrag fashion axe
              chicharrones tattooed prism stumptown. Pinterest edison bulb
              flannel, williamsburg yr thundercats umami meditation stumptown
              fam shoreditch marfa vape man braid.
            </h6>
            <h6 class="font-weight-bold m-3"><b>Ben</b></h6>
          </div>
          <div class="col-sm">
            <img alt="logo" class="img-fluid m-3" src="https://via.placeholder.com/80x80">
            <h6 class="font-weight-light m-3">Vinegar raw denim
              single-origin coffee gochujang normcore stumptown waistcoat.
              Selfies sustainable mumblecore blog marfa pork belly kitsch
              meditation iceland humblebrag fashion axe chicharrones tattooed
              prism stumptown. Pinterest edison bulb flannel, williamsburg yr
              thundercats umami meditation stumptown fam shoreditch marfa vape
              man braid.
            </h6>
            <h6 class="font-weight-bold m-3"><b>Sabrina</b></h6>
          </div>
          <div class="col-sm">
            <img alt="logo" class="img-fluid m-3" src="https://via.placeholder.com/80x80">
            <h6 class="font-weight-light m-3">Single-origin coffee
              gochujang normcore stumptown waistcoat. Selfies sustainable
              mumblecore blog marfa pork belly kitsch meditation iceland
              humblebrag fashion axe chicharrones tattooed prism stumptown.
              Pinterest edison bulb flannel, williamsburg yr thundercats umami
              meditation stumptown fam shoreditch marfa vape man braid.
            </h6>
            <h6 class="font-weight-bold m-3"><b>Alice</b></h6>
          </div>
        </div>
      </div>
      <div class="container-fluid dark">
        <div class="container-sphynx mx-auto py-5 text-center">
          <h1 class="p-3">Take a quick look</h1>
          <div class="row">
            <div class="col m-3">best companies</div>
            <div class="col m-3">best companies</div>
            <div class="col m-3">best companies</div>
            <div class="w-100"></div>
            <div class="col m-3">best companies</div>
            <div class="col m-3">best companies</div>
            <div class="col m-3">best companies</div>
          </div>
        </div>
      </div>
      <div class="container-fluid light">
        <div class="container-sphynx mx-auto py-5">
          <div class="d-flex align-items-start flex-column px-5 container-fix-sphynx">
            <h1 class="font-weight-bold">Download Software From Themeforest
              Today!</h1>
            <h6 class="font-weight-light my-4">Lorem ipsum dolor sit amet
              consectetur adipiscing elit sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex commodo consequat
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur.</h6>
            <button type="button" class="btn button-blue my-4" value="Download">Download</button>
          </div>
        </div>
      </div>
      <div class="container-fluid dark">
        <div class="container-sphynx mx-auto py-5 row">
          <div class="col p-4 d-flex align-items-center justify-content-center">
            <img alt="icon" class="col p-4 d-flex align-items-center justify-content-center img-fluid" src="https://via.placeholder.com/100x100">
          </div>
          <div class="col p-5 d-flex align-items-center justify-content-center">
            <img alt="icon" class="img-fluid" src="https://via.placeholder.com/100x100">
          </div>
          <div class="col p-4 d-flex align-items-center justify-content-center">
            <img alt="icon" class="col p-4 d-flex align-items-center justify-content-center img-fluid" src="https://via.placeholder.com/100x100">
          </div>
          <div class="col p-4 d-flex align-items-center justify-content-center">
            <img alt="icon" class="col p-4 d-flex align-items-center justify-content-center img-fluid" src="https://via.placeholder.com/100x100">
          </div>
        </div>
      </div>
    </section>
    <div layout:fragment="script">
      <script type="text/javascript" th:src="@{/js/sphynx.js}"></script>
    </div>
  </body>
</html>
