<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <title>Sphynx</title>
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet"
      href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
      integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
      crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/sphynx.css">
  </head>
  <body>
    <header th:insert="fragments.html :: header"> </header>
    <div class="container-fluid light">
      <div class="container px-5">
        <div class="px-5 mx-5 pt-5 mt-5">
          <div class="container text-center">
            <h1 class="display-2 font-weight-bold mt-5 mx-5 px-5">
              With Sphynx, keep track on your website's traffic.
            </h1>
          </div>
          <div class="container text-center">
            <h4 class="font-weight-light mx-5 my-4 px-5">Be aware of the users' behavior
                when they navigate your websites.</h4>
          </div>
          <div class="d-flex justify-content-center ">
            <form>
              <button formaction="/user/register" type="submit" class="btn btn-lg button-blue px-3 my-2 mx-3">Register</button>
              <button formaction="/user/login" type="submit" class="btn btn-lg button-dark px-3 my-2 mx-3">Login</button>
            </form>
          </div>
        </div>
        <div class="col d-flex justify-content-center pt-3">
          <img alt="ipad image" class="img-fluid"
            src="https://via.placeholder.com/910x500">
        </div>
      </div>
    </div>
    <div class="container-fluid dark">
      <div class="container text-center p-5">
        <div class="row px-5">
          <div class="col-sm">
            <div class="m-3">
              <img alt="video" class="img-fluid"
                src="https://via.placeholder.com/200x200">
            </div>
            <h5 class="font-weight-bold m-3 py-4">Video support</h5>
            <div class="font-weight-light m-3">Seamlessly empower fully
              researched growth strategies and interoperable internal.</div>
          </div>
          <div class="col-sm">
            <div class="m-3">
              <img alt="map" class="img-fluid"
                src="https://via.placeholder.com/200x200">
            </div>
            <h5 class="font-weight-bold m-3 py-4">Map location</h5>
            <div class="font-weight-light m-3">Seamlessly empower fully
              researched growth strategies and interoperable internal.</div>
          </div>
          <div class="col-sm">
            <div class="m-3">
              <img alt="demo" class="img-fluid"
                src="https://via.placeholder.com/200x200">
            </div>
            <h5 class="font-weight-bold m-3 py-4">Multiple demo</h5>
            <div class="font-weight-light m-3">Seamlessly empower fully
              researched growth strategies and interoperable internal.</div>
          </div>
          <div class="col-sm">
            <div class="m-3">
              <img alt="tools" class="img-fluid"
                src="https://via.placeholder.com/200x200">
            </div>
            <h5 class="font-weight-bold m-3 py-4">Premium tools</h5>
            <div class="font-weight-light m-3">Seamlessly empower fully
              researched growth strategies and interoperable internal.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid light">
      <div class="container p-5">
        <div class="row p-5">
          <div class="col">
            <h4 class="text-accent font-weight-bold">GET FREE SUPPORT</h4>
            <h1 class="font-weight-bold">Get The Most Amazing Builder!</h1>
            <h6 class="font-weight-light my-4">Umami VHS asymmetrical
              gastropub. Health goth lomo bicycle rights vexillologist shabby
              chic. Vinyl chia bushwick vaporware, waistcoat taiyaki umami
              locavore +1 edison bulb bitters vape. Prism tote bag narwhal
              adaptogen. Selfies vaporware chambray pork belly kickstarter
              letterpress 90's tattooed. Swag tote bag hammock, XOXO air plant
              brunch knausgaard glossier celiac biodiesel la croix fanny pack
              organic single-origin coffee. Bushwick adaptogen ennui lo-fi blog
              chicharrones.</h6>
            <button type="button" class="btn button-blue p-3 my-4">Button
              1</button>
          </div>
          <div class="col">
            <img alt="Detail left" class="img-fluid"
              src="https://via.placeholder.com/400x600">
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid light">
      <div class="container p-5">
        <div class="row p-5">
          <div class="col">
            <img alt="detail right" class="img-fluid"
              src="https://via.placeholder.com/400x600">
          </div>
          <div class="col">
            <h4 class="text-accent font-weight-bold">GET FREE SUPPORT</h4>
            <h1 class="font-weight-bold">Get The Most Amazing Builder!</h1>
            <h6 class="font-weight-light my-4">Umami VHS asymmetrical
              gastropub. Health goth lomo bicycle rights vexillologist shabby
              chic. Vinyl chia bushwick vaporware, waistcoat taiyaki umami
              locavore +1 edison bulb bitters vape. Prism tote bag narwhal
              adaptogen. Selfies vaporware chambray pork belly kickstarter
              letterpress 90's tattooed. Swag tote bag hammock, XOXO air plant
              brunch knausgaard glossier celiac biodiesel la croix fanny pack
              organic single-origin coffee. Bushwick adaptogen ennui lo-fi blog
              chicharrones.</h6>
            <button type="button" class="btn button-blue p-3 my-4">Button
              1</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid light">
      <div class="container text-center p-5">
        <h1 class="px-5">What Client Said</h1>
        <h6 class="px-5">Leggings pitchfork tattooed actually iPhone,
          messenger bag twee celiac church-key. Next level trust fund jean
          shorts, normcore hoodie sartorial ugh cold-pressed woke offal
          ethical mumblecore tilde tote bag.</h6>
      </div>
    </div>
    <div class="container-fluid light">
      <div class="container p-5">
        <div class="row px-5">
          <div class="col-sm">
            <div class="m-3">
              <img alt="logo" class="img-fluid"
                src="https://via.placeholder.com/80x80">
            </div>
            <h6 class="font-weight-light m-3">Coffee gochujang normcore
              stumptown waistcoat. Selfies sustainable mumblecore blog marfa
              pork belly kitsch meditation iceland humblebrag fashion axe
              chicharrones tattooed prism stumptown. Pinterest edison bulb
              flannel, williamsburg yr thundercats umami meditation stumptown
              fam shoreditch marfa vape man braid.</h6>
            <h6 class="font-weight-bold m-3"><b>Ben</b></h6>
          </div>
          <div class="col-sm">
            <div class="m-3">
              <img alt="logo" class="img-fluid"
                src="https://via.placeholder.com/80x80">
            </div>
            <h6 class="font-weight-light m-3">Vinegar raw denim
              single-origin coffee gochujang normcore stumptown waistcoat.
              Selfies sustainable mumblecore blog marfa pork belly kitsch
              meditation iceland humblebrag fashion axe chicharrones tattooed
              prism stumptown. Pinterest edison bulb flannel, williamsburg yr
              thundercats umami meditation stumptown fam shoreditch marfa vape
              man braid.</h6>
            <h6 class="font-weight-bold m-3"><b>Sabrina</b></h6>
          </div>
          <div class="col-sm">
            <div class="m-3">
              <img alt="logo" class="img-fluid"
                src="https://via.placeholder.com/80x80">
            </div>
            <h6 class="font-weight-light m-3">Single-origin coffee
              gochujang normcore stumptown waistcoat. Selfies sustainable
              mumblecore blog marfa pork belly kitsch meditation iceland
              humblebrag fashion axe chicharrones tattooed prism stumptown.
              Pinterest edison bulb flannel, williamsburg yr thundercats umami
              meditation stumptown fam shoreditch marfa vape man braid.</h6>
            <h6 class="font-weight-bold m-3"><b>Alice</b></h6>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid dark">
      <div class="container text-center p-4 pt-5">
        <h1>Take a quick look</h1>
      </div>
    </div>
    <div class="container-fluid dark">
      <div class="container text-center p-4">
        <div class="row">
          <div class="col m-3">best companies</div>
          <div class="col m-3">best companies</div>
          <div class="col m-3">best companies</div>
          <div class="w-100"></div>
          <div class="col m-3">best companies</div>
          <div class="col m-3">best companies</div>
          <div class="col m-3">best companies</div>
        </div>
      </div>
    </div>
  
    <div class="container-fluid light">
      <div class="container p-5">
        <div class="d-flex align-items-start flex-column px-5"
          style="width: 600px;">
          <h1 class="font-weight-bold">Download Software From Themeforest
            Today!</h1>
          <h6 class="font-weight-light my-4">Lorem ipsum dolor sit amet
            consectetur adipiscing elit sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua Ut enim ad minim veniam quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex commodo consequat
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.</h6>
          <button type="button" class="btn button-blue my-4">Download</button>
        </div>
      </div>
    </div>
    <div class="container-fluid dark">
      <div class="container p-5">
        <div class="row px-5">
          <div
            class="col p-4 d-flex align-items-center justify-content-center">
            <img alt="icon" class="img-fluid"
              src="https://via.placeholder.com/100x100">
          </div>
          <div
            class="col p-5 d-flex align-items-center justify-content-center">
            <img alt="icon" class="img-fluid"
              src="https://via.placeholder.com/100x100">
          </div>
          <div
            class="col p-5 d-flex align-items-center justify-content-center">
            <img alt="icon" class="img-fluid"
              src="https://via.placeholder.com/100x100">
          </div>
          <div
            class="col p-5 d-flex align-items-center justify-content-center">
            <img alt="icon" class="img-fluid"
              src="https://via.placeholder.com/100x100">
          </div>
        </div>
      </div>
    </div>
    <footer th:insert="fragments.html :: footer"> </footer>
  </body>
</html>
