<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet"
  href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
  integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
  crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/sphynx.css">
<title>Terms and conditions</title>
</head>
<body>
  <div class="container-fluid light">
    <div class="container px-5">
      <div class="d-flex px-5">
        <a href="/" class="m-3 mr-auto">Home</a> 
        <a href="#" class="m-3">Nothing yet</a>
        <a href="/user/login" class="m-3">Log In</a>
        <a href="/user/register" class="m-3">Register</a>
      </div>
    </div>
  </div>
  <div class="container-fluid dark">
    <div class="container px-5 text-center">
      <div class="px-5 mx-5 pt-5 mt-5">
        <h1 class="display-2 font-weight-bold">
          With Sphynx, keep track on your website's traffic.
        </h1>
        <h4 class="font-weight-light">

MIT License </br></br>

Copyright (c) 2019 Nathalie Bize </br></br>

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions: </br></br>

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software. </br></br>

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE. </br></br>
</h4>
        </div>
        <div class="d-flex justify-content-center ">
          <form>
            <button formaction="/user/register" type="submit" class="btn btn-lg button-blue px-3 my-2 mx-3">Register</button>
            <button formaction="/user/login" type="submit" class="btn btn-lg button-dark px-3 my-2 mx-3">Login</button>
          </form>
        </div>
      </div>
     </div>
    <div class="container-fluid light">
      <div class="container p-5">
        <h1 class="px-5">Info</h1>
      </div>
    </div>

    
  

</body>
</html>