a {
  color: #ccc;
}

body {
  color: white;
}

.button-blue {
  color: white;
  background-color: #79b6f9;
}

.button-dark {
  color: white;  
  border: solid #ccc;
}

.dark {
  background-color: #1d1d1d;
}

.font-weight-light {
  opacity: 0.4;
}

.light {
  background-color: #2c2d2d;
}

.text-accent {
  color:#79b6f9;
}

